#back-btn{display: flex;margin: 20px auto;padding: 10px 20px;background: #5be7fa; border: none;outline: none; border-radius: 5px;} 
.image-box{
    max-height: 300px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    img{
        height: 100%;
        max-width: 300px;
    }
}
#profile-box{
    padding:16px;
    margin: 8px 0 0 0;
    border-bottom: 1px solid #f16060;
    display: flex;
    align-items: center;
    text-align: center;
    img{
        width: 30px;
        height: 30px;
    }
    >span{
        font-size: 15px;
        font-weight: 600;
        margin-left: 8px;
    }
}
#contents-box{
    padding: 16px;
    #name{font-size: 20px;font-weight: 400; margin-bottom: 10px;}
    #price{font-size: 16px;font-weight: 600; margin-bottom: 5px;}
    #createAt{font-size: 12px;color: rgba(204, 204, 204,1);}
    .payment{margin: 20px 0 0;}
    #description{margin-top: 16px;}
    
}
